{% extends '@XutimCore/admin/base.html.twig' %}

{% block pageTitle %}{{ 'Dashboard'|trans({}, 'admin')|capitalize }}{% endblock %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li><span class="text-content-tertiary/50">/</span></li>
        <li class="text-content">Dashboard</li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block body %}
{% endblock %}
