<div class="content-block content-block--code" data-block-id="{{ block.id }}">
    <pre><code{% if block.language %} class="language-{{ block.language }}"{% endif %}>{{ block.code }}</code></pre>
</div>
