<div
    class="offcanvas offcanvas-end show "
    style="top: 56px;"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="local-sidebar"
    aria-labelledby="offcanvasEndLabel"
    aria-modal="false"
    role="dialog"
>
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasEndLabel">
            {{ 'reference translation'|trans({}, 'admin')|capitalize }}
        </h2>
        <twig:Xutim:Admin:Button
            variant="default"
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></twig:Xutim:Admin:Button>
    </div>
    <div class="offcanvas-body">
        {{ include('@XutimCore/admin/article_translation/show.html.twig', {article: article, translation: article.defaultTranslation}) }}
    </div>
</div>
