includes:
    - phpstan-baseline.neon
parameters:
    level: max
    paths:
        - src/Xutim/Bundle/CoreBundle/src
        - src/Xutim/Bundle/EventBundle/src
        - src/Xutim/Bundle/RedirectBundle/src
        - src/Xutim/Bundle/SecurityBundle/src
        - src/Xutim/Bundle/SnippetBundle/src
        - src/Xutim/Domain/src
    excludePaths:
        - src/Xutim/Bundle/CoreBundle/src/Infra/Doctrine/TreeObjectHydrator.php
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    stubFiles:
        - tests/Stubs/DataMapperInterface.stub
    typeAliases:
        XutimAnchorTune: 'array{xutimAnchor: array{anchor: string}}'
        AlignmentTune: 'array{alignment: array{alignment: "left"|"center"|"right"}}'
        CombinedTunes: 'array{xutimAnchor: array{anchor: string}, alignment: array{alignment: "left"|"center"|"right"}}'

        ListBlock: 'array{ id: string, type: "list", data: array{ style: "unordered"|"ordered"|"checklist", meta: array{start: int, counterType: string}, items: array<int, array{content: string, meta:string, items: array<int, mixed>}>}, tunes: CombinedTunes }'
        ParagraphBlock: 'array{ id: string, type: "paragraph", data: array{text: string}, tunes: CombinedTunes }'
        DelimiterBlock: 'array{ id: string, type: "delimiter", data: array{}, tunes: XutimAnchorTune }'
        HeaderBlock: 'array{ id: string, type: "header", data: array{text: string, level: int}, tunes: CombinedTunes }'
        MainHeaderBlock: 'array{ id: string, type: "mainHeader", data: array{pretitle: string, title: string, subtitle: string}, tunes: XutimAnchorTune }'
        QuoteBlock: 'array{ id: string, type: "quote", data: array{text: string, caption: string}, tunes: CombinedTunes }'
        BlockBlock: 'array{ id: string, type: "block", data: array{code: string}, tunes: XutimAnchorTune }'
        XutimImageBlock: 'array{ id: string, type: "xutimImage", data: array{file: array{url: string, id: string, thumbnailUrl: string}}, tunes: XutimAnchorTune }'
        XutimFileBlock: 'array{ id: string, type: "xutimFile", data: array{file: array{url: string, id: string}}, tunes: XutimAnchorTune }'
        ImageRowBlock: 'array{ id: string, type: "imageRow", data: array{images: array<int, array{url: string, id: string, thumbnailUrl: string}>}, tunes: XutimAnchorTune }'
        EmbedBlock: 'array{ id: string, type: "embed", data: array{service: string, source: string, embed: string, width: int, height: int, caption: string}, tunes: XutimAnchorTune }'
        PageLinkBlock: 'array{ id: string, type: "pageLink", data: array{id: string}, tunes: XutimAnchorTune }'
        ArticleLinkBlock: 'array{ id: string, type: "articleLink", data: array{id: string}, tunes: XutimAnchorTune }'
        XutimTagBlock: 'array{ id: string, type: "xutimTag", data: array{id: string, layout: string}, tunes: XutimAnchorTune }'

        EditorBlocksUnion: ListBlock|ParagraphBlock|DelimiterBlock|HeaderBlock|MainHeaderBlock|QuoteBlock|BlockBlock|XutimFileBlock|XutimImageBlock|ImageRowBlock|EmbedBlock|PageLinkBlock|ArticleLinkBlock|XutimTagBlock
        EditorBlock: 'array{}|array{ time: int, version: string, blocks: array<int, EditorBlocksUnion> }'
        NonEmptyEditorBlock: 'array{ time: int, version: string, blocks: non-empty-array<int, EditorBlocksUnion> }'


