<div class="page-layout">
    <h1>{{ title }}</h1>
    {% if preTitle %}
        <span class="pre-title">{{ preTitle }}</span>
    {% endif %}
    {% if subTitle %}
        <span class="sub-title">{{ subTitle }}</span>
    {% endif %}
</div>
