<span
    {{
        attributes.defaults({
            class: 'inline-flex items-center rounded-md border border-border px-1.5 py-0.5 text-[11px] font-medium text-content-secondary'
        })
    }}
>
    {% block content %}{% endblock %}
</span>
