<div {{
        attributes.defaults({
        'data-controller': 'modal',
        'data-action': 'turbo:before-cache@window->modal#close '
        })
    }}>
    <dialog
        data-modal-target="dialog"
        id="xutim-dialog"
        class="fixed inset-0 z-[60] m-auto w-full max-w-lg rounded-xl border border-border bg-surface shadow-xl backdrop:bg-black/50 p-0 overflow-y-auto max-h-[80vh]"
        data-action="close->modal#close mousedown->modal#mouseDown mouseup->modal#mouseUp"
    >
        {% block content %}{% endblock %}
    </dialog>

    {% if block('loading_template') %}
        <template data-modal-target="loadingContent">
            {% block loading_template %}{% endblock %}
        </template>
    {% endif %}
</div>
