{% set bgColor = this.color.HTMLHex %}

<span
    {{
        attributes.defaults({
            class: 'inline-flex items-center rounded-md px-1.5 py-0.5 text-[11px] font-medium',
            style: 'background-color: color-mix(in srgb, '~bgColor~' 18%, transparent); color: '~bgColor~';'
        })
    }}
>
    {% block content %}{% endblock %}
</span>
