<div class="foldable-end-block text-center">
    <span class="text-content-tertiary" style="font-size: 0.75rem">&blacktriangle;</span>
    <span class="text-content-secondary text-sm">{{
        'End foldable'|trans({}, 'admin')
    }}</span>
</div>
