<twig:Xutim:Admin:SidebarItem id="featured-image-sidebar-item">
    <twig:block name="header">{{ 'featured image'|trans({}, 'admin')|capitalize }}</twig:block>
    <twig:block name="content">
        {% if is_granted('ROLE_EDITOR') %}
            <a href="{{ admin_path('admin_article_featured_image_edit', {id: article.id}) }}" data-turbo-frame="modal">
                {% if article.featuredImage %}
                    <img src="{{ media_url(article.featuredImage, 'thumb_small') }}" alt="" class="h-10 w-14 rounded border border-border object-cover hover:border-accent transition-colors" />
                {% else %}
                    <div class="h-10 w-14 rounded border border-border bg-surface-raised hover:border-accent transition-colors"></div>
                {% endif %}
            </a>
        {% else %}
            {% if article.featuredImage %}
                <img src="{{ media_url(article.featuredImage, 'thumb_small') }}" alt="" class="h-10 w-14 rounded border border-border object-cover" />
            {% else %}
                <div class="h-10 w-14 rounded border border-border bg-surface-raised"></div>
            {% endif %}
        {% endif %}
    </twig:block>
</twig:Xutim:Admin:SidebarItem>
