<!DOCTYPE html>
<html>
<head><title>{{ title }}</title></head>
<body>
    <article>
        {% if preTitle %}<span class="pre-title">{{ preTitle }}</span>{% endif %}
        <h1>{{ title }}</h1>
        {% if subTitle %}<span class="sub-title">{{ subTitle }}</span>{% endif %}
        {% if layout %}
            {% include layout %}
        {% endif %}
    </article>
</body>
</html>
