{% extends '@XutimCore/admin/settings/settings_layout.html.twig' %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li><span class="text-content-tertiary/50">/</span></li>
        <li>
            <a href="{{ admin_path('admin_settings_site') }}" class="hover:text-content transition-colors">Settings</a>
        </li>
        <li><span class="text-content-tertiary/50">/</span></li>
        <li class="text-content">Site</li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block settingsBody %}
    {% form_theme form '@XutimCore/admin/settings/_site_form_theme.html.twig' %}

    {{ form(form) }}
{% endblock %}
