name: Split Packages

env:
    GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    split:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                package:
                    - local_path: "src/Xutim/Bundle/CoreBundle"
                      split_repository: "core-bundle"
                    - local_path: "src/Xutim/Bundle/EventBundle"
                      split_repository: "event-bundle"

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0 # required to see full git history

            - name: Mark safe Git directories
              run: |
                  git config --global --add safe.directory "$GITHUB_WORKSPACE"
                  git config --global --add safe.directory "/tmp/monorepo_split/build_directory"

            # no tag
            - if: "!startsWith(github.ref, 'refs/tags/')"
              uses: "symplify/monorepo-split-github-action@2.1"
              with:
                  package_directory: "${{ matrix.package.local_path }}"
                  repository_organization: "XutimCMS"
                  repository_name: "${{ matrix.package.split_repository }}"
                  user_name: "xutim-split-bot"
                  user_email: "ci@xutim.local"

            # with tag
            - if: "startsWith(github.ref, 'refs/tags/')"
              uses: "symplify/monorepo-split-github-action@2.1"
              with:
                  tag: ${{ github.ref_name }}
                  package_directory: "${{ matrix.package.local_path }}"
                  repository_organization: "XutimCMS"
                  repository_name: "${{ matrix.package.split_repository }}"
                  user_name: "xutim-ci"
                  user_email: "ci@xutim.local"
